@import "../../sass/variables";
@import "../../sass/mixins";

.loginBg {
  max-width: 100vw;
  padding: 2rem 0;
  background-color: beige;

  .loginContainer {
    display: flex;
    align-items: center;
    width: 90%;
    height: 450px;
    border-radius: 1rem;
    margin: auto;
    background-color: $blue;
    overflow: hidden;

    div {
      flex: 1;
    }

    .leftSide {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../images/hospital.jpg");
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .welcome {
        margin-bottom: 1rem;

        img {
          width: 40%;
        }

        h2 {
          color: $green;
          font-size: 1.8rem;
        }

        p {
          color: $white;
          font-size: 0.8rem;
        }
      }

      .loginForm {
        display: flex;
        flex-direction: column;
        width: 60%;

        input {
          padding: 0.5rem 5px;
          border: 1px solid #000;
          border-radius: 5px;
          margin-bottom: 0.5rem;

          &[type="button"] {
            border: none;
            color: $white;
            background-color: $green;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .loginContainer {
    flex-direction: column;
  }
}
