.navbarContainer {
  max-width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: red;
}

.navbarMenu {
  display: flex;
}

.navbarMenu > div {
  padding: 5px 10px;
  margin-left: 5px;
  transition: all .3s ease-in-out;
}

.navbarMenu > div:hover {
  border-radius: 1rem;
  background-color: blue;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .navbarMenu {
    display: none;
  }

  

}